.login {
    height: 100vh;
    background-color: rgb(193, 190, 255);
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        width: 50%;
        border-radius: 10px;
        display: flex;
        background-color: #fff;
        min-height: 600px;
        overflow: hidden;

        .left {
            flex: 1;
            background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39, 11, 96, 0.5)), url('https://images.pexels.com/photos/2422294/pexels-photo-2422294.jpeg?auto=compress&cs=tinysrgb&w=600') center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: #fff;

            h1 {
                font-size: 100px;
                line-height: 100px;
            }

            p {
                font-size: 1.5rem;
            }

            span {
                font-size: 14px;
            }

            button {
                width: 50%;
                border: none;
                background-color: #fff;
                color: darkred;
                padding: 10px;
                cursor: pointer;
                font-weight: bold;
            }
        }

        .right {
            flex: 1;
            box-sizing: border-box;
            padding: 50px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 50px;

            h1 {
                color: #555;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 30px;

                input {
                    padding: 20px 10px;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid lightgray;
                }

                button {
                    width: 50%;
                    border: none;
                    padding: 10px;
                    color: #fff;
                    background-color: #938eef;
                }
            }
        }
    }
}